h2.text {
  font-family: Georgia, serif !important;
  font-weight: 400;
  margin: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

hr.gradient {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}